body {
    color: white;
    background-color: #1e3c72;
    font-family: Arial, sans-serif;
}

h1 {
    color: #a3d8f4;
}

li {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    transition: background 0.3s;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}